<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 m-5 text-center">Edit Comment</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>?_method=put" method="post">
                    <div class="form-group">
                        <input type="text" name="comment[text]" class="form-control" value="<%= comment.text %>">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <a class="btn btn-secondary btn-block mt-3" href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
