<%- include("../partials/header") %>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">info1</li>
                <li class="list-group-item">info2</li>
                <li class="list-group-item p-0">
                    <div id="map">
                    </div>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3 p-0">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title"><a href="#"><%= campground.name %></a></h5>
                        <p class="card-text text-right">$<%= campground.price.toFixed(2) %>/night</p>
                    </div>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text mb-2 text-muted"><em>Added By <strong><%= campground.author.username %></strong>, <%= moment(campground.time).toNow(true) %> ago</em></p>
                    <% if(current_user && campground.author.id.equals(current_user._id)) {%>
                    <a href="<%= campground._id %>/edit" class="btn btn-warning mt-2">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=delete" method="post" style="display: inline">
                        <button class="btn btn-danger mt-2">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card bg-light p-3">
                <div class="text-right">
                    <a href="<%= campground._id %>/comments/new" class="btn btn-info">Add Comment</a>
                </div>
                <hr>
                <% campground.comments.forEach(function(comment){ %>
                <div class="row">
                    <div class="col-md-12 card-body">
                        <div class="d-flex justify-content-between">
                            <p><strong><%= comment.author.username %></strong></p>
                            <p class="text-right"><em><%= moment(comment.time).toNow(true); %> ago</em></p>
                        </div>
                        <p>
                            <%= comment.text %>
                            <%#
                                # If difference between comment creation date and time attribute is greater than one second,
                                display '(edited)' at end of comment. 1 second because there was a slight delay in
                                milliseconds between the objectID timestamp and the time attribute
                            %>
                            <% if(moment(comment.time).diff(moment(comment._id.getTimestamp()), 'seconds') !== 0){ %>
                                <em class="text-muted">(edited)</em>
                            <% } %>
                        </p>
                        <% if(current_user && comment.author.id.equals(current_user._id)) {%>
                        <a href="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>/edit" class="btn btn-sm btn-warning">
                            Edit
                        </a>
                        <%# Anchor tags only make get requests. Since we need post, form is used below %>
                        <form action="/campgrounds/<%= campground._id%>/comments/<%= comment._id %>?_method=delete" method="post" style="display: inline">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmxhenl5IiwiYSI6ImNrZWp6aGp0NDJiazcyc2x0OWI2bHhpemwifQ.GkKXJiZ59bQGd-ie4X0PJw';
    const map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11', // stylesheet location
        center: [-74.5, 40], // starting position [lng, lat]
        zoom: 9 // starting zoom
    });
</script>

<%- include("../partials/footer") %>
