<%- include("../partials/header") %>

<script src="https://kit.fontawesome.com/90c1f722b6.js" crossorigin="anonymous"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.js'></script>
<script src="https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js"></script>
<script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css' rel='stylesheet' />

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="list-group">
                <li class="list-group-item active">info1</li>
                <li id="weather-info" class="list-group-item">
                    <% if(weather === 'undefined') {%>
                        Weather Info Unavailable
                    <% } else{ %>
                        <%= weather.weather[0].description %>, <%= Math.round(weather.main.temp - 273.15) %>° C</li>
                    <% } %>
                <li class="list-group-item p-0">
                    <div id="map"></div>
                </li>
                <li class="list-group-item">
                    <i class="fas fa-map-marker-alt fa-fwv"></i> <%= campground.location %>
                </li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card mb-3 p-0">
                <img src="<%= campground.image %>" class="card-img-top">
                <div class="card-body">
                    <% if(!campground.avg_rating){%>
                        <p class="card-subtitle text-muted text-left mb-2"><em>No reviews yet</em></p>
                    <% } else {%>
                        <h5 class="card-title">
                            <% let rating = Math.round(campground.avg_rating*2)/2 %>
                            <% let stars = 0 %>
                            <% while(rating - stars >= 1) { %>
                                <i class="fas fa-star"></i>
                                    <% stars++ %>
                            <%  } %>
                            <% if(stars < rating) { %>
                                <i class="fas fa-star-half"></i>
                            <%  } %>
                        </h5>
                    <% } %>
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title"><a href="#"><%= campground.name %></a></h5>
                        <p class="card-text text-right">$<%= campground.price.toFixed(2) %>/night</p>
                    </div>
                    <p class="card-subtitle text-muted text-left"><%= campground.location %></p>
                    <hr>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text mb-2 text-muted"><em>Added By <strong><%= campground.author.username %></strong>, <%= moment(campground.time).toNow(true) %> ago</em></p>
                    <% if(current_user && campground.author.id.equals(current_user._id)) {%>
                    <a href="<%= campground._id %>/edit" class="btn btn-warning mt-2">Edit</a>
                    <form action="/campgrounds/<%= campground._id %>?_method=delete" method="post" style="display: inline">
                        <button class="btn btn-danger mt-2">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="card bg-light p-3">
                <div class="text-right">
                    <a href="<%= campground._id %>/reviews/new" class="btn btn-info">Add Review</a>
                </div>
                <hr>
                <% campground.reviews.forEach(function(review){ %>
                <div class="row">
                    <div class="col-md-12 card-body">
                        <div class="d-flex justify-content-between">
                            <p><strong><%= review.author.username %></strong></p>
                            <div>
                                <% let stars = 0 %>
                                <% while(stars < review.rating) { %>
                                    <i class="fas fa-star"></i>
                                        <% stars++ %>
                                <%  } %>
                                <% while(stars < 5) { %>
                                    <i class="far fa-star"></i>
                                        <% stars++ %>
                                <%  } %>
                            </div>
                        </div>
                            <div class="d-flex justify-content-between">
                                <div>
                                    <%= review.text %>
                                    <% if(moment(review.time).diff(moment(review._id.getTimestamp()), 'seconds') !== 0){ %>
                                        <em class="text-muted">(edited)</em>
                                    <% } %>
                                </div>
                                <p class="text-right"><em><%= moment(review.time).toNow(true); %> ago</em></p>
                            </div>
                        <% if(current_user && review.author.id.equals(current_user._id)) {%>
                        <a href="/campgrounds/<%= campground._id%>/reviews/<%= review._id %>/edit" class="btn btn-sm btn-warning">
                            Edit
                        </a>
                        <%# Anchor tags only make get requests. Since we need post, form is used below %>
                        <form action="/campgrounds/<%= campground._id%>/reviews/<%= review._id %>?_method=delete" method="post" style="display: inline">
                            <input type="submit" class="btn btn-sm btn-danger" value="Delete"></input>
                        </form>
                        <% } %>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>

<script>
    mapboxgl.accessToken = 'pk.eyJ1IjoiYmxhenl5IiwiYSI6ImNrZWp6aGp0NDJiazcyc2x0OWI2bHhpemwifQ.GkKXJiZ59bQGd-ie4X0PJw';
    var mapboxClient = mapboxSdk({
        accessToken: mapboxgl.accessToken
    });
    mapboxClient.geocoding
        .forwardGeocode({
            query: '<%= campground.location %>',
            autocomplete: false,
            limit: 1
        })
        .send()
        .then(function(response) {
            if (
                response &&
                response.body &&
                response.body.features &&
                response.body.features.length
            ) {
                var feature = response.body.features[0];

                var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: feature.center,
                    zoom: 10
                });
                new mapboxgl.Marker().setLngLat(feature.center).addTo(map);
            }
        });
</script>

<%- include("../partials/footer") %>
