<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 m-5 text-center">Edit Review</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form action="/campgrounds/<%= campground_id %>/reviews/<%= review._id %>?_method=put" method="post">
                    <div class="form-group">
                        <input type="text" name="review[text]" class="form-control" value="<%= review.text %>">
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="lead">Edit Rating (1-5)</p>
                    </div>
                    <div class="form-group">
                        <input type="range" name="review[rating]" class="custom-range" min="1" max="5" value="<%= review.rating %>" id="rating-slider">
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <a class="btn btn-secondary btn-block mt-3" href="/campgrounds/<%= campground_id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
