<%- include("../partials/header") %>

<div class="container">
    <h1 class="display-4 m-5 text-center">Add A New Review To <%= campground.name %></h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <form action="/campgrounds/<%= campground._id %>/reviews" method="post">
                    <div class="form-group">
                        <input type="text" name="review[text]" class="form-control" placeholder="Enter Review" required>
                    </div>
                    <div class="d-flex justify-content-center">
                        <p class="lead">Add Rating (1-5)</p>
                    </div>
                    <div class="form-group">
                        <input type="range" name="review[rating]" class="custom-range" min="1" max="5" id="rating-slider" required>
                    </div>
                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                </form>
                <a class="btn btn-secondary btn-block mt-3" href="/campgrounds/<%= campground._id %>">Go Back</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
