<%- include("../partials/header") %>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Users</h1>
        <p class="lead">View all users registered on this website.</p>
    </div>
</div>

<% if(users.length === 0){ %>
    <div class="d-flex justify-content-center">
        <p class="lead">No users currently registered.</p>
    </div>
<% } else{ %>
    <div class="container mt-0">
        <table class="table table-hover">
            <thead class="bg-light">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Username</th>
                    <th scope="col">Campgrounds Added</th>
                    <th scope="col">Reviews Given</th>
                </tr>
            </thead>
            <tbody>
                <% let num = 1 %>
                <% for(let i = 0; i < users.length; i++){ %>
                <tr>
                    <th scope="row"><%= num %></th>
                    <td>
                        <a href="/users/<%= users[i].username %>">
                            <%= users[i].username %>
                        </a>
                    </td>
                    <% if(users[i].campgrounds_added === 0){%>
                        <td>-</td>
                    <% } else {%>
                        <td><%= users[i].campgrounds_added %></td>
                    <% } %>
                    <% if(users[i].reviews_given === 0){%>
                        <td>-</td>
                    <% } else {%>
                        <td><%= users[i].reviews_given %></td>
                    <% } %>
                </tr>
                    <% num++ %>
                <% } %>
            </tbody>
        </table>
    </div>
<% } %>

<%- include("../partials/footer") %>
